<!--src/app/quest-card/quest-card.component.html-->

@if (quest) {
  <mat-card class="card" appearance="outlined">
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title>{{ quest.title }}</mat-card-title>
        <mat-card-subtitle><sub><i><u>Difficulty:</u> {{ quest.difficulty }}</i></sub></mat-card-subtitle>
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-content>
      <p>{{ quest.description }}</p>
    </mat-card-content>
    <mat-card-actions>
      <div class="buttons-container">
        @if (quest.status == Status.INCOMPLETE) {
          <div class="edit-button">
            <button mat-mini-fab matTooltip="edit" matTooltipPosition="below" (click)="openEditQuestDialog(quest)"
                    [attr.aria-label]='"Edit \"" + quest.title + "\" quest icon button"'>
              <mat-icon>edit</mat-icon>
            </button>
          </div>
          <div class="complete-button">
            <button mat-mini-fab matTooltip="mark as complete" matTooltipPosition="below"
                    (click)="markQuestAsCompleted(quest.id)"
                    [attr.aria-label]='"Mark \"" + quest.title + "\" quest as complete icon button"'>
              <mat-icon>done</mat-icon>
            </button>
          </div>
          <div class="delete-button">
            <button mat-mini-fab matTooltip="delete" matTooltipPosition="below" (click)="deleteQuest(quest.id)"
                    [attr.aria-label]='"Delete \"" + quest.title + "\" quest icon button"'>
              <mat-icon>delete_forever</mat-icon>
            </button>
          </div>
        } @else {
          <span>COMPLETED</span>
          <div class="incomplete-button">
            <button mat-mini-fab matTooltip="mark as incomplete" matTooltipPosition="below"
                    (click)="markQuestAsIncomplete(quest.id)"
                    [attr.aria-label]='"Mark \"" + quest.title + "\" quest as incomplete icon button"'>
              <mat-icon>settings_backup_restore</mat-icon>
            </button>
          </div>
        }
      </div>
    </mat-card-actions>
  </mat-card>
}
