//src/app/quest-card/quest-card.component.scss

@use '@angular/material' as mat;

$card-bg-color: #fbe0c2;
$card-title-color: #0081A7;
$card-text-color: #00AFB9;
$edit-button-color: #005AFF;
$done-button-color: #069506;
$delete-button-color: red;
$completed-text-color: #069506;

.card {
  width: 300px;
  margin: 16px;
  border-radius: 36px;
  border-width: 1.5px;

  @include mat.card-overrides((
    outlined-container-color: $card-bg-color,
  ));

  @include mat.fab-overrides((
    small-container-shape: 12%,
  ));

  mat-card-title {
    font-size: 18px;
    font-weight: bold;
    text-align: left;
  }

  mat-card-subtitle {
    text-align: left;
  }

  mat-card-content p {
    font-size: 14px;
    text-align: justify;
  }

  .buttons-container {
    width: 100%;

    .edit-button {
      display: inline-block;

      @include mat.fab-overrides((
        small-foreground-color: $edit-button-color,
      ));
    }

    .done-button {
      display: inline-block;
      padding: 0 70px;

      @include mat.fab-overrides((
        small-foreground-color: $done-button-color,
      ));
    }

    .delete-button {
      display: inline-block;

      @include mat.fab-overrides((
        small-foreground-color: $delete-button-color,
      ));
    }

    button {
      width: 30px;
      height: 30px;
    }

    span {
      color: $completed-text-color;
    }
  }
}
