//src/app/quest-dialog/quest-dialog.component.scss

@use '@angular/material' as mat;

$save-button-color: #005AFF;
$cancel-button-color: #6b6b6b;

.dialog-container {
  .cancel-button {
    @include mat.button-overrides((
      text-label-text-color: $cancel-button-color,
    ));
  }

  .save-button {
    @include mat.button-overrides((
      text-label-text-color: $save-button-color,
    ));
  }

  mat-dialog-content div {
    display: grid;

    mat-label {
      color: black;
    }

    textarea {
      min-height: 25px;
    }

    .required {
      color: red;
    }
  }
}
