//src/app/shared/quest-dialog/quest-dialog.component.scss

@use '@angular/material' as mat;

$save-button-color: #005AFF;
$cancel-button-color: #6b6b6b;
$error-color: red;

.cancel-button {
  @include mat.button-overrides((
    text-label-text-color: $cancel-button-color,
  ));
}

.save-button {
  @include mat.button-overrides((
    text-label-text-color: $save-button-color,
  ));
}

mat-dialog-content div {
  display: grid;

  mat-label {
    color: black;
  }

  mat-hint {
    color: $error-color;
    font-size: 12px;
  }

  textarea {
    min-height: 25px;
  }

  .required, .error {
    color: $error-color;
  }
}
